@{
    string path = Context.Request.Path;
}
<div class="navbar px-3 navbar-expand-sm bg-white mb-3">
    <div class="container-fluid">
        <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a asp-controller="Dashboard" asp-action="Index" class="nav-link px- text-dark @(path.StartsWith("/Dashboard") || path.StartsWith("/Actions") ? "activeNavItem" : "")" aria-current="page">
                        <small>Dashboard</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="ProviderLocation" asp-action="Index" class="nav-link px-3 text-dark @(path.StartsWith("/ProviderLocation") ? "activeNavItem" : "")">
                        <small>Provider Location</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="MyProfile" asp-action="Index" class="nav-link px-3 text-dark @(path.StartsWith("/MyProfile") ? "activeNavItem" : "")">
                        <small>My Profile</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Providers" asp-action="Index" class="nav-link px-3 text-dark @(path.StartsWith("/Providers") ? "activeNavItem" : "")">
                        <small>Providers</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Parteners" asp-action="Index" class="nav-link px-3 text-dark @(path.StartsWith("/Parteners") ? "activeNavItem" : "")">
                        <small>Parteners</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Access" asp-action="Index" class="nav-link px-3 text-dark @(path.StartsWith("/Access") ? "activeNavItem" : "")">
                        <small>Access</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Records" asp-action="Index" class="nav-link px-3 text-dark @(path.StartsWith("/Records") ? "activeNavItem" : "")">
                        <small>Records</small>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>