@using static HalloDocMVC.DBEntity.ViewModels.AdminPanel.CountStatusWiseRequestModel;

<form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
      asp-action="_SearchResult" asp-controller="Dashboard" novalidate="novalidate">
    <div class="mx-sm-1 mx-md-2 mx-xxl-4 mt-0 bg-light">
        <!--Status of requests-->
        <div class="row mb-2" style="--bs-gutter-x: 0rem;">
            <div class="col-md-2 col-sm-4 col-4 ">
                <button type="submit" name="Status" value="1" class="btn text-start shadow-none w-100">
                    <div class="p-1 rounded new ps-2 pt-3 thumbnail" id="new">
                        <div class="d-inline-flex fw-bold">
                            <div class="d-none d-md-block">
                                <i class="fa-solid fa-circle-plus mx-2 mt-1"></i>
                                @*<div class="img_1">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/new.png" />
                                    </div>
                                    <div class="img_2">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/new_active.png" />
                                    </div>*@
                            </div>
                            NEW
                        </div>
                        <div class="mt-2">
                            <span class="h4 fw-bold">@Model.NewRequest</span>
                        </div>
                    </div>
                </button>
            </div>

            <div class="col-md-2 col-sm-4 col-4 position-relative">
                <button type="submit" name="Status" value="2" class="btn text-start shadow-none w-100">
                    <div class="p-1 rounded pending ps-2 pt-3 thumbnail" id="pending">
                        <div class="d-inline-flex fw-bold">
                            <div class="d-none d-md-block">
                                <i class="fa-solid fa-user-clock mx-2 mt-1"></i>
                                @*<div class="img_1">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/pending.png" />
                                    </div>
                                    <div class="img_2">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/pending_active.png" />
                                    </div>*@
                            </div>
                            PENDING
                        </div>
                        <div class="mt-2">
                            <span class="h4 fw-bold">@Model.PendingRequest</span>
                        </div>
                    </div>
                </button>
            </div>

            <div class="col-md-2 col-sm-4 col-4 position-relative">
                <button type="submit" name="Status" value="4,5" class="btn text-start shadow-none w-100">
                    <div class="p-1 rounded active ps-2 pt-3 thumbnail" id="actives">
                        <div class="d-inline-flex fw-bold">
                            <div class="d-none d-md-block">
                                <i class="fa-solid fa-circle-check mx-2 mt-1"></i>
                                @*<div class="img_1">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/active.png" />
                                    </div>
                                    <div class="img_2">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/active_active.png" />
                                    </div>*@
                            </div>
                            ACTIVE
                        </div>
                        <div class="mt-2">
                            <span class="h4 fw-bold">@Model.ActiveRequest</span>
                        </div>
                    </div>
                </button>

            </div>

            <div class="col-md-2 col-sm-4 col-4 position-relative">
                <button type="submit" name="Status" value="6" class="btn text-start shadow-none w-100">
                    <div class="p-1 rounded conclude ps-1 pt-3 thumbnail" id="conclude">
                        <div class="d-inline-flex fw-bold">
                            <div class="d-none d-md-block">
                                <i class="fa-solid fa-clock-rotate-left mx-2 mt-1"></i>
                                @*<div class="img_1">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/conclude.png" />
                                    </div>
                                    <div class="img_2">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/conclude_active.png" />
                                    </div>*@
                            </div>
                            CONCLUDE
                        </div>
                        <div class="mt-2">
                            <span class="h4 fw-bold">@Model.ConcludeRequest</span>
                        </div>
                    </div>
                </button>

            </div>

            <div class="col-md-2 col-sm-4 col-4 position-relative">
                <button type="submit" name="Status" value="3,7,8" class="btn text-start shadow-none w-100">
                    <div class="p-1 rounded toClose ps-2 pt-3 thumbnail" id="toclose">
                        <div class="d-inline-flex fw-bold">
                            <div class="d-none d-md-block">
                                <i class="fa-solid fa-user-xmark mx-2 mt-1"></i>
                                @*<div class="img_1">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/toclose.png" />
                                    </div>
                                    <div class="img_2">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/toclose_active.png" />
                                    </div>*@
                            </div>
                            TO CLOSE
                        </div>
                        <div class="mt-2">
                            <span class="h4 fw-bold">@Model.ToCloseRequest</span>
                        </div>
                    </div>
                </button>

            </div>

            <div class="col-md-2 col-sm-4 col-4 position-relative">
                <button type="submit" name="Status" value="9" class="btn text-start shadow-none w-100">
                    <div class="p-1 rounded unpaid ps-2 pt-3 thumbnail" id="unpaid">
                        <div class="d-inline-flex fw-bold">
                            <div class="d-none d-md-block">
                                <i class="fa-solid fa-circle-dollar-to-slot mx-2 mt-1"></i>
                                @*<div class="img_1">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/unpaid.png" />
                                    </div>
                                    <div class="img_2">
                                        <img class="requestTypeIcon d-flex align-self-center me-2" src="~/images/unpaid_active.png" />
                                    </div>*@
                            </div>
                            UNPAID
                        </div>
                        <div class="mt-2">
                            <span class="h4 fw-bold">@Model.UnpaidRequest</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <!--End Status of requests-->
        <!--Important links-->
        <div class="d-flex justify-content-between mx-2">
            <div>
                <strong class="fs-6">Patients</strong> <small>@TempData["CurrentStatus"]</small>
            </div>
            <div>
                <button class="btn btn-info text-white shadow-none mb-2">
                    <small>
                        <i class="bi bi-send"></i>
                        <span class="adminIcon">Send Link</span>
                    </small>
                </button>
                <button class="btn btn-info text-white shadow-none mb-2">
                    <small>
                        <i class="bi bi-file-earmark-plus"></i>
                        <span class="adminIcon">Create Requests</span>
                    </small>
                </button>
                <button class="btn btn-info text-white shadow-none mb-2">
                    <small>
                        <i class="fa-solid fa-share"></i>
                        <span class="adminIcon">Export</span>
                    </small>
                </button>
                <button class="btn btn-info text-white shadow-none mb-2">
                    <small>
                        <i class="fa-solid fa-share-from-square"></i>
                        <span class="adminIcon">Export All</span>
                    </small>
                </button>
                <button class="btn btn-info text-white shadow-none mb-2">
                    <small>
                        <i class="fa-solid fa-user-nurse"></i>
                        <span class="adminIcon">Request DIY Support</span>
                    </small>
                </button>
            </div>
        </div>
        <!--End Important links-->
        <!--Searchbar-->
        <div class="mt-2 mx-2 bg-white">
            <div class="searchBar px-2">
                <div class="searchPatientRegion py-2">
                    <div class="search m-1">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Search Patients">
                    </div>
                    <div class="search m-1">
                        <i class="fa fa-search"></i>
                        <select class="form-select shadow-none" id="floatingSelectGrid">
                            <option selected class="text-secondary">All Regions</option>
                            <option value="1">Maryland</option>
                            <option value="2">New York</option>
                            <option value="3">Virginia</option>
                        </select>
                    </div>
                </div>
                <div class="requestType">
                    <div class="me-3">
                        <i class="fa-solid fa-circle fa-xs" style="color:#5fbc61;"></i>
                        <small>Patient</small>
                    </div>
                    <div class="me-3">
                        <i class="fa-solid fa-circle fa-xs" style="color:#ed9124;"></i>
                        <small>Family / Friend</small>
                    </div>
                    <div class="me-3">
                        <i class="fa-solid fa-circle fa-xs" style="color:#cd697b;"></i>
                        <small>Business</small>
                    </div>
                    <div class="me-2">
                        <i class="fa-solid fa-circle fa-xs" style="color:#0a7cb9;"></i>
                        <small>Concierge</small>
                    </div>
                </div>
            </div>
        </div>
        <!--End Searchbar-->
    </div>
</form>
